/*-------------------------------------
Colors:
background: #130717;
gold letters: #f6ebb5;
gold lines: #FFD700;
-------------------------------------*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1{
  font-family: "Rockwell extra";
  font-size:72px; 
  color: #f6ebb5;
}

h2{
  font-family: "Rockwell extra";
  font-size:36px; 
  color: #f6ebb5;
}

h3{
  font-family: "Rockwell extra";
  font-size:25px; 
  color: #f6ebb5;
}

h4,h5,h6{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

thead th,
tbody th{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

.menu{
font-family: "Rockwell extra", "Trebuchet Ms", arial, verdana, sans-serif;
}

blockquote{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0;
color:#000;
background-color:#130717;
font:normal 0.9em/150% 'Arimo', "Trebuchet MS", arial, verdana, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

#wrap{
background:#130717;
padding-top:4%;
}

#wrap_main{
background:#130717;
padding-top: 10%;
padding-bottom: 12%;
position: absolute;
}

.menu{
margin: 10px -1px 0 -1px;
}


#footer{
text-align:center;
padding:20px;
margin:0;
background:#efefef;
border-top:1px solid #ccc;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;
top:0;
left:0;
}

	#link-top{
	position: absolute;
	top:10px;
	right:10px;
	*right:25px;/*IE 7 ONLY*/
	left:auto;
	color:#666;
	text-decoration:none;
	display: inline-block;
	padding:5px 10px;
	background:#e5e5e5;
	line-height:100%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
	

.line {
  background: #f6ebb5; /* Old browsers */
  background: -moz-linear-gradient(left,  #130717 0%, #f6ebb5 50%, #130717 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#130717), color-stop(50%,#f6ebb5), color-stop(100%,#130717)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #130717 0%,#f6ebb5 50%,#130717 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #130717 0%,#f6ebb5 50%,#130717 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #130717 0%,#f6ebb5 50%,#130717 100%); /* IE10+ */
  background: linear-gradient(left,  #130717 0%,#f6ebb5 50%,#130717 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#130717', endColorstr='#130717',GradientType=1 ); /* IE6-9 */
  padding: 1px;
  width: 80%;
  height: 0px;
}

.line hr {
  border:1px solid #130717;
}

.line_logo {
  height: 1px;
  border: none;
  background-color: #f6ebb5;
}

.stolar_house {
  margin-left: -20px;
  margin-right: -20px;
}

.top_logo {
	background-color: #130717;
	width: 160px;
	margin-top: -36px;
}

.main {
  width: 80%;
  text-align: justify;
  color: #fff;
}

.main_gallery {
	width: 1000px;
  height: 570px;
	text-align: justify;
	color: #fff;
  background: #130717 url("./images/gallery_bg.jpg") no-repeat center top;
  padding-bottom: 10px;
}

.bottom_menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 50px; 
}

.bottom_menu_main {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 68px; 
}

.left_gallery_menu {
  width: 90%;
  height: 500px;
  padding-top: 70px;
  margin-left: -18px;
  margin-top: -18px;
  background-color: #130717;
  -moz-opacity: 0.50;
  opacity: 0.50;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
  -o-transition:All 1s ease;
}

.left_gallery_menu:hover {
    -moz-opacity: 0.80;
    opacity: 0.80;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
}

.right_gallery_menu {
  width: 90%;
  height: 500px;
  padding-top: 70px;
  margin-left: 40px;
  margin-top: -18px;
  background-color: #130717;
  -moz-opacity: 0.50;
  opacity: 0.50;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
  -o-transition:All 1s ease;
}

.right_gallery_menu:hover {
    -moz-opacity: 0.80;
    opacity: 0.80;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
}

.faber_main_logo {
  height: 130px;
}

.gallery_bg {
  margin-left: -76px;
  margin-right: -76px;
  margin-top: -18px;
  padding-bottom: 2px;
  width: 616px;
  height: 570px;
  background-color: #130717;
  z-index: 0;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}

.gallery_container {
  width: 616px;
  height: 570px;
  z-index: 1;
  position: absolute;
  margin-top: -572px;
  margin-left: -76px;
}

.msg_slideshow{
  margin: 0 auto;
}
